<div class="ekart-product-container">
    <!-- <p>product-list works!</p> -->
     <!--
    <img [src] = "product.pImage" alt="iphone image">
    <p>Name: {{product.name}}</p>
    <p>Price: {{ '$' + product.price}}</p>
    <p>Color: {{product.color}}</p>
    <p>Discounted Price: {{'$' +(product.price - (product.price * product.discount / 100))}}</p> 
    <p>Discountd Price : $ {{getDiscountedPrice().toFixed(2)}}</p>
    <p>{{product.inStock > 0 ? 'only ' + product.inStock + ' items left.' : 'no in stock'}}</p>
    <button [disabled]="addToCart == 0" (click)="decrementCartValue()">-</button>
    <span>{{addToCart}}</span>
    <button (click)="incrementCartvalue()">+</button>
     <input type="text" [value]="name" (input)="onNameChange($event)">
    <p>name = {{name}}</p> -->
    <app-search (searchtextChanged) = setSearchText($event)></app-search><br>
    <!-- <div *ngFor = "let item of userList">
        <p>Current element of an array is: {{item}}</p>
    </div> -->
    
    <product-list [searchText] = "searchText" #productListComponent></product-list>
    <product-detail *ngIf="productListComponent.selectedProduct" [productListComp] = "productListComponent"></product-detail>

    <div class="ekart-featured-products">
        <div class="ekart-featured-product-heading">
            <h1>Latest Arraival in popural brands</h1>
        </div>
        <featured-brands>
            <h3 class="title">New arrivals in Nike</h3>
            <button class="call-to-action">Show new arrivals in Nike</button>
        </featured-brands>
        <featured-brands>
            <h3 class="title">New arrivals in Adidas</h3>
            <button class="call-to-action">Show new arrivals in Adidas</button>
        </featured-brands>
        <featured-brands>
            <h3 class="title">New arrivals in Roobok</h3>
            <button class="call-to-action">Show new arrivals in Roobok</button>
        </featured-brands>
        <!-- <div class="ekart-featured-product-item">
            <h3 class="title">New arrivals in Nike</h3>
            <p class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt consequatur voluptas quo numquam officiis, veritatis odio ad ducimus est ratione delectus sapiente laboriosam optio error molestias tempore eum, rem reprehenderit!
            </p>
            <button class="call-to-action">Learn More</button>
        </div>
        <div class="ekart-featured-product-item">
            <h3 class="title">New arrivals in Adidas</h3>
            <p class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt consequatur voluptas quo numquam officiis, veritatis odio ad ducimus est ratione delectus sapiente laboriosam optio error molestias tempore eum, rem reprehenderit!
            </p>
            <button class="call-to-action">Learn More</button>
        </div>
        <div class="ekart-featured-product-item">
            <h3 class="title">New arrivals in Roobok</h3>
            <p class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt consequatur voluptas quo numquam officiis, veritatis odio ad ducimus est ratione delectus sapiente laboriosam optio error molestias tempore eum, rem reprehenderit!
            </p>
            <button class="call-to-action">Learn More</button>
        </div> -->

    </div>
</div>