.ekart-product-search {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.ekart-product-search-input {
    padding: 10px;
    width: 500px;
}

.btn-search {
    background-color: rgb(255, 255, 163);
    color: black;
    padding: 11px;
    border: 1px solid black;
    border-radius: 5px;
    
}
.btn-search-disabled {
    background-color: gray;
    color: white;
    pointer-events: none;
}

.ekart-search-result {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}